html,body,#app,.layout{
  height: 100%;
  padding: 0;
  margin: 0;
}

.layout{
  display: flex;
}
.aside{
  background: rgba(47,50,58,1);
  text-align: center;
  .ivu-layout-sider-children{
    display: flex;
    .ivu-layout{
      background: transparent;
      .ivu-layout-header{
        padding: 0;
        background: none;
      }
      .ivu-layout-content{
        padding: 10px 0;
      }
      .ivu-layout-footer{
        padding: 0 0 10px 0;
        background: none;
        .user-wrap{
          font-size: 40px;
          color: $white;
        }
      }
    }

  }
  .logo-wrap{
    width: 50px;
    padding: 5px;
    margin: auto;
    .logo{
      width: 40px;
      vertical-align: middle;
    }
  }

}

.sub-aside{
  background: url("/static/img/sub-aside/sub-aside.jpg") left top;
  background-size: cover;
  .sub-aside-content{
    background: rgba(47,50,58,0.8);
    height: 100%;
    .ivu-menu-dark{
      background: none;
    }
  }
}

.center-padding{
  padding: 10px;
}


